<section class="cd-fixed-background img-2" data-type="slider-item">
  <div
    class="d-flex flex-column flex-lg-row justify-content-evenly align-items-center">
    <form>
      <h2>Contacts</h2>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="input-name"
          placeholder="Name"
        />
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="input-phone"
          placeholder="Phone"
        />
      </div>
      <button type="button" id="call-me" class="btn btn-primary">
        Call me
      </button>
    </form>
    <div>
      <img
        src="assets/images/enthusiastic.png"
        width="250px"
        alt=""
      />
    </div>
  </div>
</section>
