.img-profile {
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to top, transparent 1%, black 5%);
  border-radius: 20px;
  height: 200px;
  width: 200px;
}

::ng-deep .breed-details-modal mat-dialog-container {
  background-color: #ffffffb3 !important;
  border-radius: 20px;
}

::ng-deep .mask-none {
  -webkit-mask-image: none;
  mask-image: none;
}
