<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand">FRIENDS</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="me-5 nav-link"> About us </a>
        <a class="me-5 nav-link"> Testimonals </a>
        <a class="me-5 nav-link"> Contacts </a>
      </div>
    </div>
    <a class="text-decoration-none d-none d-lg-block"> 8(909)680-32-76 </a>
  </div>
</nav>
