<section class="cd-fixed-background img-2" data-type="slider-item">
  <div class="d-flex flex-column flex-lg-row justify-content-evenly">
    <div class="d-flex flex-column justify-content-center w-lg-50">
      <h2 class="mb-4">Our history</h2>
      <h4>Love is a four</h4>
      <h5>paws word</h5>
      <p class="mt-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />
        Incidunt non ea tempore itaque at repudiandae harum nostrum <br />
        molestiae odit quisquam dolorem ad minus facere consequatur quo,
        <br />
        voluptas id fuga mollitia.
      </p>
    </div>
    <div>
      <img
        src="assets/images/loveling.png"
        width="90%"
        alt=""
      />
    </div>
  </div>
</section>
