<div class="d-flex flex-row flex-wrap">
  <div class="card bg-transparent bg-blur rounded-20 border-0">
    <div class="card-body">
      <h5 class="card-title">You need to consider some things before of</h5>
      <h6 class="card-subtitle mb-2 text-muted">getting a dog</h6>

      <ul>
        <li>Can you commit?</li>
        <li>Can you afford?</li>
        <li>Will pets fit your lifestyle?</li>
        <li>Do research</li>
        <li>Allergies</li>
        <li>Training</li>
        <li>Get a veterinarian</li>
      </ul>
    </div>
  </div>
</div>
