<section class="cd-fixed-background img-1" data-type="slider-item">
  <div class="d-flex flex-column">
    <div class="d-flex flex-column flex-lg-row justify-content-evenly">
      <div class="text-center mb-5">
        <div class="d-flex flex-row align-items-center">
          <h2 class="m-0 me-3">735</h2>
          <p class="m-0">Available pets whick need your love, care and help</p>
        </div>
        <img
          src="assets/images/puppy-dog-running.png"
          width="200px"
          class="dog-img mt-4"
          alt=""
        />
      </div>
      <div class="text-center">
        <div class="d-flex flex-row align-items-center">
          <h2 class="m-0 me-3">1378</h2>
          <p class="m-0">Happy owners that found pets</p>
        </div>
        <img
          src="assets/images/hugging.png"
          width="300px"
          class="mt-5"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
